* _{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.custom{
    cursor: url(/week6/SpeedGame2/best\ crosshair\ ever.cur);
}

body {
    background: #b3b66c;
    font-family:'Noto Sans', sans-serif;
    color: rgb(6, 6, 6);
    margin: 50px;    
}


h1 {
    text-align: center;
    font-size: 5rem;
    line-height: 1;
    margin: 0;
}

#scoreIs {
    padding: 0 3rem;
    text-align: center;
    font-size: 2rem;
  }

.circles {
    text-align: center;

}

.circle {
    display: inline-block;
    border-radius: 80px ;
    border: none;
    width: 150px;
    height: 150px;
    cursor: pointer;
    background-color: rgb(112, 93, 93);
    pointer-events: none;

}

.circle.active {
    background-color: #cbd9de;
}


.buttons {
    margin: 50px;
    text-align: center;
    
}
.startButton, .stopButton {
    margin: 30px;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 8px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #d9e4f6ba;
    display: flex;
    justify-content: center;
    align-items: center;

}
.modal{
    background-color: rgb(48, 47, 47);
    min-height: 40vh;
    width: 40vw;
    border-radius: 10px;
    color: #ffffff;
    padding: 3rem;
    box-shadow: 0 0 10px rgb(70, 65, 65);
    position: relative;
    justify-content: center;
    align-items: center;
}

.overlay, .modal, .close {
    display:none;
}


.btnClose {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    background: black;
}