body {
    background-color: lightskyblue;
}
#my_id {
    color:rgb(26, 79, 158);
    text-align: left;
    font-size:big;
    text-decoration-color: azure;

}>
#my_class {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
    color: rgb(120, 14, 14);
}
p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(42, 18, 18);
}
div {
    background-color: rgba(143, 155, 159, 0.113);
  }