* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    grid: 5fr 5fr ;
    font: 'Raleway', sans-serif;
    background: rgb(246, 240, 240);
    height: 100%;
    margin:30px;
}

th, td {
    border: 1px solid black;
    padding: 10px;

}

label {
    width:180px;
    clear:left;
    text-align:left;
    padding-right:10px;
    margin-bottom: 10px;
}

input, label {
    float:left;
}


button{
    padding: 10px;
    width: 90px;
    margin-top: 30px;
    background: rgb(191, 209, 209);
    border: 1px solid;
    cursor: pointer;
}

h2 {
    margin: 20px;
}

.dataSection {
    display: flex;
    width: 600px;
}

.searchSection {
    display: block;
    width: 400px;
    position: relative;
}

.searchForm {
    margin-top: 200px;
}

