
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    font-family:Arial, Helvetica, sans-serif
}

header {
    background: green;
    height: 20px;
}

.container {
    display: flex;
}

.heroimage {
    width: 25px;
    background-image: ; buttom center/cover
}

form {
    background-image: no-repeat;
    
}