* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #435a73;
}

body,
input,
select,
button {
  color: rgb(71, 51, 51);
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

main {
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
}

.searchBox,
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.searchBox input {
  border-radius: 8px 0 0 8px;
  border: 0;
  outline: none;
  height: 36px;
  padding: 4px 16px;
  background-color: white;
  color: #000;
}

.searchBox button {
  border-radius: 0 8px 8px 0;
  border: 0;
  height: 36px;
  padding: 4px 16px;
  background-color: white;
}

.gererations {
  display: grid;
  grid-template-columns: repeat(8, 1fr);

  justify-content: center;
  align-items: center;
  margin: 20px;
}

.gen {
  display: inline-flex;
  border-color: aqua;
  margin: 5px;
}

.pokemonBox {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin-top: 2rem;
  justify-content: center;
}

.card {
  min-height: 300px;
  display: grid;
  grid-template-rows: 300px;
  margin-top: 50px;
}

.pokemonBox img {
  max-width: 190px;
}

.pokemonBox h2 {
  margin-top: 1rem;
  color: aliceblue;
  text-align: center;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #f4f4f4;
  opacity: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
}

#closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: orangered;
  padding: 10px 20px;
  border: none;
  color: white;
  border-radius: 3px;
  transition: transform 100ms;
}
button:hover {
  cursor: pointer;
  transform: translateY(-1px);
  box-shadow: 0px 1px 2px darkred;
}
